<div class ="container p-4 my-3 border">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <%if current_user_owner?(comment.article.owner)%>
    <p>
      <%= link_to 'Delete Comment', [comment.article, comment],
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </p>
  <%end%>
</div>
